root = true

[*]
charset = utf-8

indent_size = 4
indent_style = tab
tab_width = 4

[*.{yml,yaml}]
indent_size = 2
indent_style = space
tab_width = unset

[*.cs]
dotnet_analyzer_diagnostic.category-Style.severity = warning

csharp_new_line_before_open_brace = none
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
trim_trailing_whitespace = true
insert_final_newline = true
csharp_prefer_braces = true

csharp_style_namespace_declarations = file_scoped
dotnet_style_namespace_match_folder = false
dotnet_style_prefer_collection_expression = false
dotnet_style_prefer_conditional_expression_over_return = false
dotnet_style_coalesce_expression = false
csharp_style_prefer_primary_constructors = false;
dotnet_style_require_accessibility_modifiers = for_non_interface_members

dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity
dotnet_style_parentheses_in_other_operators = never_if_unnecessary
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity

# Use explicit type instead of var
dotnet_diagnostic.IDE0008.severity = error
# Simplify new expression
dotnet_diagnostic.IDE0090.severity = none
# Remove unnecessary import
dotnet_diagnostic.IDE0005.severity = warning
# Formatting rule
dotnet_diagnostic.IDE0055.severity = none
