<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat code coverage">
				<Configuration>
					<Format>cobertura,opencover</Format>
					<ExcludeByFile>**/*.Generated*</ExcludeByFile>
					<ExcludeByAttribute>
						CompilerGeneratedAttribute,GeneratedCodeAttribute
					</ExcludeByAttribute>
					<Exclude>[Lithium.*].System.Text.RegularExpressions.Generated.*</Exclude>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>
